.minha-fonte {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.meus-paragrafos {
    font-family: Algerian;
    font-size: 18px;
}

#titulo-pag2 {
    color: red;
    font-size: 10px;
}

nav{
    background-color:rgba(91, 227, 246, 0.42);
    text-align:center;
    border: 2px solid #808080;
    padding: 20px;
    margin:30px 20px 50px 20px;
}

ul {
    list-style: none;
}

    ul > li {
        display: inline;
    }
footer{
    text-align:center;
}
